.inside-hero__img img,
.book-call__img img {
	max-width: 100%;
}
@media (max-width: 1300px) {
	.icon-pintile-holder {
		padding: 35px;
	}
	.pd-250-l-out {
		padding: 60px 20px 20px;
	}
	.locations-box {
		padding: 30px;
	}
	.banner-block h1 {
		font-size: 60px;
	}
	.banner-block h3 {
		font-size: 40px;
	}
	.video-modal__image {
		height: auto;
	}
}
@media (max-width: 991px) {
	.side-by-side__content-box h2 {
		font-size: 50px;
	}
	.side-by-side__content-box h5 {
		font-size: 34px;
	}
	.side-by-side__content-box p {
		font-size: 18px;
		line-height: 28px;
	}
	.icon-division__item--secondary h3 {
		font-size: 60px;
	}
	.services__list h5 {
		font-size: 32px;
	}
	.icon-pintile.icon-pintile--primary h4 {
		font-size: 24px;
	}
	.section h2 {
		font-size: 48px;
	}
	.section--testimonials {
		padding: 60px 0px;
	}
	.section--testimonials .title .col {
		padding-left: 20px;
	}
	.testimonials-slider__details h6 {
		font-size: 28px;
	}
	.testimonials-slider__details p {
		font-size: 20px;
	}
}
@media (max-width: 767px) {
	.button {
		font-size: 16px;
		padding: 10px 20px;
		border: 2px solid #ffffff;
	}
	.button--blue {
		border-color: #1c00ff;
	}
	.inside-hero__content h1 {
		font-size: 48px;
	}
	.inside-hero__content p {
		font-size: 36px;
	}
	.curious-wrap p {
		font-size: 32px;
	}
	.curious-wrap h2 {
		font-size: 38px;
	}
	.section--choose .section-title h2 {
		font-size: 60px;
	}
	.ryze-features ul li {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.section h2 {
		font-size: 36px;
	}
	.book-call__img {
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.book-call__content {
		position: relative;
		transform: none;
	}
	.section--choose {
		padding: 80px 0px;
	}
	.services__list h3 {
		padding: 30px 0px 0px 0px;
		font-size: 44px;
		line-height: 1.2;
	}
	.services__list h5 {
		font-size: 22px;
		padding-left: 0px;
	}
	.services__list p {
		max-width: none;
		font-size: 18px;
	}
	.services__list h3:after {
		top: 0px;
	}
	.ryze-features ul {
		margin-bottom: 50px;
	}
	.book-call__content p {
		font-size: 24px;
	}
	.icon-pintile {
		text-align: center;
		margin: 30px 0px;
	}
	.icon-pintile h4 {
		font-size: 28px;
		margin-bottom: 10px;
		line-height: 34px;
	}
	.icon-pintile .icon {
		margin-bottom: 15px;
		background-position: center;
	}
	.icon-pintile a {
		font-size: 18px;
	}
	.section--grey {
		padding: 40px 0px;
	}
	.pd-250-l-out h2 {
		line-height: 56px;
	}
	.pd-250-l-out h4 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.icon-anchor__in {
		margin: 10px 0px;
		font-size: 18px;
	}
	.icon--mail {
		width: 30px;
		height: 30px;
	}
	.icon--phone {
		width: 30px;
		height: 30px;
	}
	.icon-anchor__in .icon {
		margin-right: 15px;
	}
	.form-panel__input-items {
		margin: 10px 0px;
	}
	.cs-input--half {
		width: 100%;
	}
	.cs-input--half:nth-child(odd) {
		margin: 0px 0px 10px 0px;
	}
	.cs-input--half:nth-child(even) {
		margin: 10px 0px 0px 0px;
	}
	.locations-box h4 {
		font-size: 36px;
	}
	.tab-line-box--anchor h6 {
		font-size: 20px;
	}
	.tab-line-box--anchor p {
		font-size: 16px;
	}
}
